@font-face {
  font-family: 'PP Neue Machina Plain';
  src: url("/fonts/PPNeueMachina-PlainBold.woff2") format('woff2');
}

@font-face {
  font-family: 'PP NeueMachina Inktrap';
  src: url("/fonts/PPNeueMachina-InktrapRegular.woff2") format('woff2');
}

@font-face {
  font-family: 'Golos';
  src: url("/fonts/GolosText-Regular.ttf") format('ttf');
}
