.skills {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media screen and (max-width: $tablet) {
    gap: 15px;
  }

  @media screen and (min-width: $desktop-xl) {
    gap: 20px;
  }
}

.skill {
  box-sizing: border-box;
  max-width: 230px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  min-height: 236px;
  background: #f6f6f6;

  &.primary {
    background: var(--primary);
  }

  @media screen and (max-width: $tablet) {
    width: 100%;
    max-width: 100%;
    min-height: 160px;
  }

  @media screen and (min-width: $desktop-xl) {
    max-width: 340px;
    min-height: 203px;
  }
}

.tags {
  margin-top: 41px;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
