.container {
}

.skills {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media screen and (max-width: $tablet) {
    gap: 15px;
  }
}

.skill {
  box-sizing: border-box;
  max-width: 230px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background: #f6f6f6;
  min-height: 236px;

  @media screen and (max-width: $tablet) {
    width: 100%;
    max-width: 100%;
    min-height: 160px;
  }
}

.primary {
  background: var(--primary) !important;
}

.tags {
  margin-top: 41px;
  display: flex;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
}
