.container {
  padding: 95px 0;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $desktop-m) {
    padding: 80px 0;
  }

  @media screen and (max-width: $tablet) {
    padding: 44px 0;
    flex-direction: column;
  }
}

.title {
  max-width: 340px;
  font-family: "PP Neue Machina", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 85%;
  letter-spacing: -1.92px;
  color: var(--dark);

  @media screen and (max-width: $tablet) {
    max-width: 100%;
  }
}

.wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;

  @media screen and (max-width: $tablet) {
    gap: 24px;
    margin-top: 30px;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  overflow: hidden;
}

.contactDescription {
  display: flex;
  flex-direction: column;
  gap: -4px;
}

.name {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
}

.role {
  font-family: 'Golos', 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: -5px;
}

.links {
  display: flex;
  align-items: center;
  gap: 5px;
}

.socialLink {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;

  &:hover {
    background: var(--primary);
  }
}

