.container {
  margin-top: 87px;

  @media screen and (max-width: $desktop-m) {
    margin-top: 81px;
  }

  @media screen and (max-width: $tablet) {
    margin-top: 30px;
  }
}

.text {
  margin: 39px 0 30px;
  max-width: 715px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  color: var(--font-dark);

  @media screen and (max-width: $tablet) {
    margin: 20px 0 10px;
  }

  & a {
    display: inline-block;
    transition: 300ms;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: var(--font-dark);

    &:hover {
      color: var(--dark);
    }
  }
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @media screen and (max-width: $tablet) {
    margin-bottom: 18px;
  }
}

.contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $tablet) {
    flex: 1;
    padding: 30px;
    border-radius: 10px;
    background: #f7f7f7;
  }
}

.profile {
  width: 243px;
  height: 243px;
  margin-bottom: 10px;
  border-radius: 100%;
  overflow: hidden;

  @media screen and (max-width: $tablet) {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
}

.role {
  margin: 10px 0 15px;
}

.links {
  display: flex;
  align-items: center;
  gap: 5px;
}

.socialLink {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;

  &:hover {
    background: var(--primary);
  }
}

.mail {
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 43px;
  color: var(--dark);

  @media screen and (max-width: $tablet) {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }
}

.copy {
  margin-top: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  color: #6b6b6b;

  @media screen and (max-width: $tablet) {
    text-align: center;
    margin-top: 30px;
  }
}
