.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}

.topBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}

.headerDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  height: 85px;
  margin-top: 47px;
}

.titleHeader {
  height: 85px;
  padding-left: 8px;
  line-height: 100px;
  font-size: 69px;
}

.imageContainer {
  display: flex;
  align-items: center;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.img {
  align-self: flex-end;
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.sliderContainer {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.goalBlock {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.goalHeaderBlock {
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 64px;
  line-height: 54px;
  letter-spacing: -3%;
}

.goalHeader {
  line-height: 54px;
  font-size: 64px;
}

.goalContentBlock {
  display: flex;
  flex-direction: row;
  align-items: start;
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: -4%;
}

.goalImageBlock {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 40px;
  /* border: 0.5px solid grey; */
  /* border-radius: 50px; */
}

.solutionBlock {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.solutionHeaderBlock {
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 64px;
  line-height: 54px;
  letter-spacing: -3%;
}

.solutionHeader {
  line-height: 54px;
  font-size: 64px;
}

.solutionContentBlock {
  display: flex;
  flex-direction: row;
  align-items: start;
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: -4%;
}

.solutionImageBlock {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 40px;
  /* border: 0.5px solid grey; */
  /* border-radius: 50px; */
}
