.container {
  box-shadow: 0 0 0 100vmax var(--dark);
  clip-path: inset(0 -100vmax);
  background: var(--dark);
  padding: 75px 0 120px;

  @media screen and (max-width: $tablet) {
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: none;
    clip-path: none;
    text-align: center;
  }
}

.title {
  color: var(--white) !important;

  @media screen and (max-width: $desktop-m) {
    font-size: 80px;
    line-height: 88px;
  }

  @media screen and (max-width: $tablet) {
    font-size: 40px;
    line-height: 40px;
  }
}

.info {
  margin-top: 36px;
  display: flex;
  gap: 32px;

  @media screen and (max-width: $desktop-m) {
    margin-top: 121px;
  }

  @media screen and (max-width: $tablet) {
    margin: 16px auto 0;
    gap: 10px;
    text-align: center;
    flex-direction: column;
    max-width: 320px;
  }

  @media screen and (min-width: $desktop-xl) {
    gap: 275px;
  }
}

.time {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
}

.minPrice {
  display: block;
  margin-top: 118px;
  font-family: 'DRAB', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (max-width: $tablet) {
    font-size: 40px;
    line-height: 44px;
    margin: 50px 0 0;
  }
}

.price {
  display: block;
  margin-top: 63px;
  font-family: 'DRAB', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 121px;
  color: #b3ff01;

  @media screen and (max-width: $tablet) {
    font-size: 55px;
    line-height: 61px;
    margin: 44px 0 5px;
  }
}

.light {
  color: rgba(255, 255, 255, 0.6);
}

.textShort {
  max-width: 373px;

  @media screen and (max-width: $tablet) {
    max-width: 320px;
  }
}

.textLong {
  max-width: 493px;

  @media screen and (max-width: $tablet) {
    max-width: 320px;
  }
}

.text {
  @media screen and (max-width: $tablet) {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }
}

.basicWidth {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.tabletWidth {
  display: none;

  @media screen and (max-width: $tablet) {
    display: flex;
    flex-direction: column;
  }
}
