.container {
  margin-top: 75px;
  margin-bottom: 143px;

  @media screen and (max-width: $desktop-m) {
    margin-bottom: 75px;
  }

  @media screen and (max-width: $tablet) {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.title {
  margin-bottom: 53px;

  @media screen and (max-width: $tablet) {
    margin-bottom: 25px;
  }
}

.project {
  $border: 1px solid var(--misc);
  &:first-of-type {
    border-top: $border;
  }
  &:not(:last-child) {
    border-bottom: $border;
  }
}
