* {
    all: unset;
    display: revert;
    box-sizing: border-box;
}

@font-face {
    font-family: "DRAB";
    src: url('/fonts/DRAB-Regular.ttf');
}


:root {
    --dark: #080808;
    --primary: #B3FF01;
    --misc: #D8D8D8;
    --font-light: #FFFFFF;
    --font-dark: rgba(8, 8, 8, 0.6);
    --white: #FFFFFF;
}

.title  {
    font-family: "DRAB", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 121px;
    color: var(--dark);
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 43px;
    color: var(--dark);
}

.stack-title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    text-decoration-line: underline;
    color: var(--dark);
}

button {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: var(--dark);
}

.tag {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: var(--dark);
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: var(--font-dark);
}

a {
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 43px;
    color: var(--dark);
    cursor: pointer;
}

a:hover {
    color: var(--primary);
}


h1, h2, h3, h4, h5, h6, p, span {
    user-select: none;
}
