.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: $desktop-xl) {
    max-width: 1980px;
  }
}

.content {
  max-width: 952px;
  margin: 0 auto;
  width: 100%;
  padding: 30px 0 50px;

  @media screen and (min-width: $desktop-xl) {
    max-width: 1440px;
  }

  @media screen and (max-width: $desktop-m) {
    padding: 105px 0 94px;
  }

  @media screen and (max-width: $tablet) {
    padding: 64px 10px 91px;
  }
}

.nav, .langButton {
  z-index: 2;
}

.nav {
  $top: 30px;
  position: fixed;
  top: $top;
  padding-left: 40px;
  flex-direction: column;
  height: calc(100% - $top * 2);
}

.menu, .langButton {
  display: flex;
  gap: 12px;

  @media screen and (max-width: $desktop-m) {
    display: none;
  }
}

.menu {
  flex-direction: column;
  padding: 10px 20px;
  background: var(--white);
  color: var(--font-dark);
  border-radius: 10px;
  transition: 300ms;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 20px 10px rgba(255,255,255, 0.5);
  }
}

.langButton {
  position: absolute;
  bottom: 0;
  align-items: center;
}

.link {
  transition: 300ms;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  color: var(--font-dark);

  &:hover, &[aria-current='true'] {
    color: var(--dark);
  }
}

.action {
  position: fixed;
  top: 30px;
  display: flex;
  align-items: center;
  max-width: inherit;
  width: 100%;
  margin: 0 auto;
  justify-content: flex-end;

  @media screen and (max-width: $desktop-m) {
    top: 0;
    background: var(--white);
    padding: 13px 20px;
    justify-content: space-between;
  }

  @media screen and (max-width: $tablet) {
    padding: 8px 10px;
  }
}

.actionLink {
  transition: 300ms;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
  margin-right: 30px;
  border-radius: 10px 36px 36px 10px;
  background: var(--white);
  color: var(--font-dark);
  overflow: hidden;

  &:hover {
    color: var(--dark);
    box-shadow: 0 0 20px 10px rgba(255,255,255, 0.5);

    .button {
      box-shadow: 0 0 20px 110px var(--primary);
    }
  }

  @media screen and (max-width: $desktop-m) {
    margin: 0;
    &:hover {
      box-shadow: none;

      .button {
        box-shadow: none;
      }
    }
  }
}

.button {
  width: 60px;
  height: 48px;
  background: var(--primary);
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms;

  img {
    width: 14px;
    height: 17px;
  }

  @media screen and (max-width: $tablet) {
    width: 35px;
    height: 28px;

    img {
      width: 8px;
      height: 10px;
    }
  }
}

.actionText {
  z-index: 2;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;

  @media screen and (max-width: $tablet) {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }
}

.logo {
  display: none;
  padding-top: 5px;
  font-family: "PP Neue Machina Plain", sans-serif;
  font-size: 31px;
  line-height: 43px;

  @media screen and (max-width: $desktop-m) {
    display: block;
  }

  @media screen and (max-width: $tablet) {
    padding-top: 2px;
    font-size: 19px;
    line-height: 26px;
  }
}
