.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: $desktop-xl) {
    max-width: 1980px;
  }
}

.content {
  max-width: inherit;
  margin: 0 auto;
  width: 100%;
  padding: 76px 34px 44px;

  @media screen and (min-width: $desktop-xl) {
    max-width: 1440px;
  }

  @media screen and (max-width: $desktop-m) {
    max-width: 100%;
    padding: 96px 20px 94px;
  }

  @media screen and (max-width: $tablet) {
    padding: 76px 10px 91px;
  }
}

.nav, .langButton, .actionText {
  z-index: 2;
}

.nav {
  $top: 0;
  position: fixed;
  top: $top;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: inherit;
  padding: 14px 34px;

  background: var(--white);
  box-shadow: 0 0 0 100vmax var(--white);
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax);

  @media screen and (max-width: $desktop-m) {
    display: none;
  }
}

.right, .left {
  display: flex;
  align-items: center;
}

.left {
  gap: 60px;
}

.right {
  gap: 48px;
}

.langButton {
  display: flex;
  align-items: center;
  gap: 4px;
}

.mobileAction {
  display: none;

  @media screen and (max-width: $desktop-m) {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: inherit;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 14px;
    background: var(--white);
  }
}
