.container {
  padding: 21px 0 50px;
  border-top: 1px solid var(--misc);
  min-height: 130px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    .button {
      background: var(--primary);
    }

    .icon {
      width: auto !important;
      opacity: 1 !important;
    }

    .title {
      margin-left: 16px;
    }
  }
}

.button {
  background: var(--white);
  border: 1px solid var(--misc);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s background-color;

  &:active {
    background: var(--dark);
  }
}

.title {
  transition: 0.3s all;
}

.titleCollapsed {
  margin-left: 16px;
}

.iconBtnContainer {
  display: flex;
  width: 18px;
  height: 16px;
}

.iconBtn {
  user-select: none;
  max-width: 100%;
  height: 16px;
  transition: 0.3s transform;
}

.iconBtnCollapsed {
  transform: rotateX(180deg);
}

.collapsed {
  height: auto !important;
  opacity: 1 !important;
  margin-top: 35px;
}

.content {
  height: 0;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  max-width: 905px;
}

.left {
  display: flex;
  align-items: center;
}

.icon {
  width: 0;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.iconCollapsed {
  width: auto !important;
  opacity: 1 !important;
}
