.cardWrapper {
  box-sizing: border-box;
  height: 130px;
  padding-top: 21px;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  border-top: 1px solid var(--misc);
  min-height: 130px;

  &:hover {
    .titleIcon {
      opacity: 1;
    }

    .icon {
      width: auto;
      opacity: 1;
      margin-right: 16px;
    }

    .button {
      background: var(--primary);
    }
  }

  @media screen and (max-width: $tablet) {
    padding-top: 12px;
    height: 50px;
    min-height: 50px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.icon {
  transition: 0.2s all ease-in-out;
  width: 0;
  opacity: 0;

  @media screen and (max-width: $tablet) {
    width: 5vw;
    opacity: 1;
    margin-right: 16px;
    fill: var(--dark);
    height: 17px;
  }
}

.iconCollapsed {
  width: auto;
  opacity: 1;
  margin-right: 16px;
  color: var(--dark);
}

.title {
  font-family: "PP NeueMachina Inktrap", sans-serif;
  transition: 200ms ease-in-out;

  @media screen and (max-width: $tablet) {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
  }
}

.button {
  background: var(--white);
  border: 1px solid var(--misc);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s background-color;

  &:active {
    background: var(--dark);
  }

  @media screen and (max-width: $tablet) {
    width: 30px;
    height: 30px;
  }
}

.iconBtn {
  user-select: none;
  max-width: 100%;
  height: 16px;
  transition: 0.2s transform;

  @media screen and (max-width: $tablet) {
    width: 9px;
    height: 8px;
  }
}

.iconBtnCollapsed {
  transform: rotateX(180deg);
}

.contentWrapper {
  display: flex;
  opacity: 0;
  transition: 0.2s all ease-in-out;
  animation: hideContent 250ms ease-out;
  font-size: 20px;
  line-height: 29px;
  padding: 37px 0 50px;

  @media screen and (max-width: $tablet) {
    padding: 10px 0 25px;
  }
}

.showContent {
  opacity: 1;
  animation: showContent 0.3s ease-in;
}

.expandCard {
  min-height: 130px;
  height: 100%;
}

@keyframes showContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideContent {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
