.container {
  background: linear-gradient(180deg,
          rgba(0, 0, 0, 0) 61.69%,
          rgba(0, 0, 0, 0) 61.7%,
          rgba(0, 0, 0, 0.64) 100%),
  linear-gradient(0deg, rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.21)), url("/images/hero.jpg");
  border-radius: 10px;
  min-height: 596px;
  width: 100%;
  padding: 30px 30px 44px;
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 472px;
  width: 100%;
}

.info {
  margin-top: auto;
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0;
  text-align: left;
  color: var(--white);
  max-width: 685px;
}

.dedicated {
  color: #B3FF01
}
