.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 620px;
  padding: 30px 30px 44px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 61.69%,
      rgba(0, 0, 0, 0) 61.7%,
      rgba(0, 0, 0, 0.64) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.21)),
    url('/images/hero.png');
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 16px;

  @media screen and (max-width: $tablet) {
    background-position: 70% 10%;
    min-height: 450px;
    padding: 20px 15px;
  }

  @media screen and (min-width: $desktop-xl) {
    padding: 55px 75px;
    background-size: auto;
  }
}

.title {
  padding-top: 5px;

  @media screen and (max-width: $tablet) {
    padding-top: 8px;
  }
}

.info {
  margin-top: auto;
  font-size: 64px;
  font-weight: 500;
  line-height: 77px;
  letter-spacing: 0;
  text-align: left;
  color: var(--white);
  max-width: 750px;

  @media screen and (max-width: $desktop-m) {
    font-weight: 400;
  }

  @media screen and (max-width: $tablet) {
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
  }
}

.dedicated {
  display: inline-block;
  color: var(--primary);
}
